@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

html, body{
    background: linear-gradient(315deg, #405CB1, rgb(39, 60, 124));
    font-family: 'Fugaz One', cursive;
    margin: 0;
    height: 100%;
    overflow: hidden;
    user-select: none;
}

#root {
    height: 100%;
    display: grid;
}

h1 {
    color: white;
    font-size: 4em;
    text-shadow: 0px 5px 8px #0005;
}

h2 {
    color: #c6c6c6;
    font-size: 2em;
    text-shadow: 0px 5px 8px #0005;
}

.center {
    align-self: center;
    margin: 0 auto;
    text-align: center;
}

.center img {
    animation: fade-in 1s ease-in;
    -webkit-user-drag: none;
}

#gear-1, #gear-2 {
    position: absolute;
    filter: invert(1);
    will-change: transform;
    animation: gear 4s linear infinite;
}

#gear-1 {
    --size: 10em;
    top: calc(var(--size) / -2);
    left: calc(var(--size) / -2);
    height: var(--size);
}

#gear-2 {
    --size: 20em;
    bottom: calc(var(--size) / -2);
    right: calc(var(--size) / -2);
    height: var(--size);
}

@keyframes gear {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}